/*No margin no padding*/
*{
  scroll-behavior: smooth;
  margin:0;
  padding:0;
  /*border-style: solid;
  border-color: brown;
  border-width: 1px;*/
}

/*Background */
.container{
  background-image: url(1567677.jpg);
  /*background-color:#081b29;*/
  height:380vh; 
  width:100%;
  opacity:1;
}

/*Navigation bar*/
#navbar{
  display: flex;
  align-items: center;
  justify-content: end;
  position: sticky;
  top:0px;
  width:100%;
}
#navbar::before{
  content: "";
  background-color: rgb(0,0, 0);
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width:100%;
  z-index: -1;
  opacity: 1;
}
#navbar ul{
  display: flex;
  font-family: 'Baloo Bhai', cursive;
  margin-top: 19px;
  margin-bottom: 19px;
}
#navbar ul li{ 
  list-style: none;
  font-size: 1rem;
}
#navbar ul li a{
  color: white;
  display: block;
  padding: 0px 22px;
  border-radius: 20px;
  text-decoration: none;
}
#navbar ul li a:hover{
  color: black;
  background-color: white;
}
#navbar #Agri_cold{
  display: flex;
  position:absolute;
  left:4%;
  align-items: center;
}
#cold{
   color:white;
   font-size: 1.6rem;
}
/*Nav right margin*/
#contact{
  margin-right:50px;
}

/*sidebar*/
#sidebar{
  top:64px;
  position:fixed;
  width:16.5%;
  height:41%;
  left:-16.9%;
  background-image: url(1567677.jpg);
  border-radius: 20px;
  border: 0.1px solid;
  border-color:rgba(255,255,255,0.4);
  margin-left:0.3%;
}
#sidebar ul li {
  list-style: none;
  padding:19px;
  text-align:center;
}
#sidebar ul li a{
  color: white;
  text-decoration: none;
  font-size:20px;
}
#sidebar ul li a:hover{
  color: rgb(124, 91, 91);
}
#sidebar ._li{
  border-bottom: 1px solid rgba(255,255,255,0.4);
}

/*toggle button*/
.toggle-btn{
  position:absolute;
  left:1%;
  top:15px;
}
.toggle-btn span{
  display:block;
  background-color:white;
  width:28px;
  height:5px;
  margin:3px;
}
#sidebar.active{
  left:0px;
}

/*Heading*/
.container #head_{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top:0.35rem;
  padding-bottom:0.35rem;
  margin-bottom: 10px;
  margin-top:10px;
}
.container #head_ h1{
  font-family: 'DM Serif Text';
  font-size: 2.5rem;
  color: white;
  margin-bottom:10px;
}
.container #head_ p{
  font-size: larger;
  margin-left:300px;
  margin-right:300px;
  color: rgb(159, 153, 178);
  opacity: 1;
}

/*temp-pred and range slider box*/
.container .box{
  margin-top: 20px;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*box 1 and 2*/
.box12{
  width:100%;
  display: flex;
  flex-direction: row;
}
.container .box h3{
  font-family: 'DM Serif Text';
  font-size: 2rem;
  color: white;
  margin-bottom:10px;
}

/*box1*/
.box #box1{
  margin-top: 10px;
  width:50%;
}
.sensor{
  display:flex;
  align-items: center;
  margin: 2px;
  margin-left:200px;
  margin-bottom: 10px;
  margin-top: 12px;
}
.sensor1{
  display:flex;
  margin: 2px;
  margin-top:6px;
  margin-bottom: 12px;
}
._sensor{
  font-size: 20px;
  font-family: 'Rampart One', 'cursive';
  color:white;
  margin-right: 20px;
}
.sensor_{
  display:flex;
  font-size: 18px;
  font-family: 'Rampart One', 'cursive';
  color:white;
  margin-left: 2px;
}
.sensor_in{
  width: 100px;
  height: 25px;
  border-color: rgb(131, 122, 233);
  border-radius: 6px;
  padding: 2px 10px 2px 10px;
  margin-right:5px;
  text-align: center;
  font-size: 16px;
  font-family: 'DM Serif Text';
}
.sensor_inp{
  width: 68px;
  height: 27px;
  border-color: rgb(131, 122, 233);
  text-align: center;
  font-family: 'DM Serif Text';
  border-radius: 6px;
  font-size: 13px;
  margin-bottom: 6px;
}
#x,#y,#z{
  margin-right: 30px;
}
#x1,#y1,#z1{
  margin-left: 6px;
}
#time{
  /*margin-left:200px;*/
  /*display:none;*/
  margin-top:0;
}
#t1{
  margin-right:67px;
}
#t2{
  margin-right:15px;
}
#t3{
  margin-right:15px;
}

/*box2*/
.box #box2{
  margin-top: 10px;
  width:40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button{
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  margin-bottom: 10px;
  margin-top: 12px;
}
.predict{
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  padding: 4px;
  color: rgb(44, 26, 26);
  box-shadow: 2px 2px; 
}
.predict:hover{
background-color:rgb(166, 129, 129)
}
.pred-temp{
margin-bottom: 20px;
margin-left:12%;
}
.temp{
font-size: 30px;
font-family: 'Buenard', serif;
font-weight: bold;
color:white;
}
#pval,#_s1,#_s2{
  color:red;
}

/*Range slider*/
.sub-box2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 40%;
}
/*#sub-box2_3{
  margin-bottom: 9%;
}*/
.slider_{
  width:55%;
  padding:20px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.slider-text{
  font-size: 18px;
  font-family: 'Rampart One', 'cursive';
  color:white;
  margin-bottom: 10px;
}
.range_slider{
  -webkit-appearance: none;
   appearance: none;
   width:75%;
   height:5px;
   outline:none;
   border-radius: 5px;
}
.range_slider::-webkit-slider-thumb{
  -webkit-appearance: none;
   appearance: none;
   width: 15px;
   height: 15px;
   background-color: blue;
   border:solid;
   border-width: 2px;
   border-color: white;
   border-radius: 50%;
   cursor:pointer;
}
.range_slider::-webkit-slider-thumb:hover{
  box-shadow: 0 0 0 4px rgba(255,255,255,0.4);
}
.range_slider::-webkit-slider-thumb:active{
  box-shadow: 0 0 0 4px rgba(255,255,255,0.6);
}
label{
  color:white;
}
.label-left{
  color:white;
  float:left;
  margin-right:5px;
}

/*box 3 and 5*/
.container .box35{
  width:100%;
  display: flex;
  flex-direction: row;
}

/*box3*/
.container #box3{
  width:65%;
  padding-top:60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container #box3 h3{
  font-family: 'DM Serif Text';
  font-size: 2rem;
  color: white;
  margin-bottom:10px;
}
.container #box3 #graph{
  width:95%;
}

/*box5*/
.container #box5{
  width:35%;
  padding-top:60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container #box5 h3{
  font-family: 'DM Serif Text';
  font-size: 2rem;
  color: white;
  margin-bottom:10px;
}
.container #box5 h4{
  font-family: 'DM Serif Text';
  font-size: 1.6rem;
  color: white;
 /* margin-top:40px;*/
}
.container #box5 #quality{
  width:95%;
  /*background: white;*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*margin-bottom: 100px;*/
}

/*box4*/
.container #box4{
  width:100%;
  padding-top:70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container #box4 h3{
  font-family: 'DM Serif Text';
  font-size: 2rem;
  color: white;
  margin-bottom:10px;
}
.container #box4 #color-m{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container #box4 #c-map{
  margin-top:10px;
  width:60%;
  display: flex;
  justify-content: right;

}
.container #box4 #c-text{
  margin-top:50px;
  width:25%;
}
#c-map img{
  border-radius: 0px;
}

/*box6*/
.container #box6{
  width:100%;
  padding-top:70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container #box6 h3{
  font-family: 'DM Serif Text';
  font-size: 2rem;
  color: white;
  margin-bottom:10px;
}
.container #box6 #quality-m{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container #box6 #q-map{
  margin-top:10px;
  width:60%;
  display: flex;
  justify-content: right;

}
.container #box6 #q-text{
  margin-top:50px;
  width:25%;
}








